.week {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day {
  list-style-type: none;
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1;
}

.day.selected {
  border-color: #ffd900;
}

.day h2 {
  border-bottom: 1px solid #ccc;
}

.recipe-view {
  border: 1px solid #ccc;
  max-width: 80%;
  padding: 1em;
  margin: 0 auto;
}

.recipe-view h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.recipe-view li {
  margin-bottom: 5px;
}