#weekly-meals-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.main-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 90vh;
}

.main-layout>* {
  flex: 1;
  overflow-y: auto;
}

.week {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  max-width: 25em;
}

.day {
  list-style-type: none;
  border: 1px solid #333;
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.day select {
  width: 100%;
}

.day.selected {
  border-color: #ffd900;
}

.day>* {
  margin: 0;
}

.day h2 {
  border-left: 1px solid #1a1919;
  padding: 0 5px;
  font-size: 1.35rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  grid-column: 1;
  grid-row: 1 / -1;
  text-transform: uppercase;
}

.day p {
  grid-column: 2;
  grid-row: 1;
  align-content: center;
  font-size: 1.25em;
}

.day select {
  grid-column: 2;
  grid-row: 2;
  width: 10em;
  margin: 0 auto;
}

.day h2,
.day p {
  text-align: center;
}

.recipe-view {
  border: 1px solid #ccc;
  max-width: 80%;
  padding: 1em;
  margin: 0 auto;
}

.recipe-view h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.recipe-view li {
  margin-bottom: 5px;
}

.recipe-view .instructions {
  white-space: pre-line;
}

.instructions-input {
  height: 4em;
  resize: vertical;
}